{% extends "base.html" %}
{% block content %}

<h1 style="color:var(--primary-color);">Contato</h1>

<div style="max-width:700px; margin-top:12px;">
    <div class="card">
        <form method="POST" action="{{ url_for('contact') }}">
            <div class="input-group">
                <label>Nome</label>
                <input type="text" name="name" required>
            </div>

            <div class="input-group">
                <label>E-mail</label>
                <input type="email" name="email" required>
            </div>

            <div class="input-group">
                <label>Mensagem</label>
                <textarea name="message" rows="5" style="width:100%; padding:10px; border-radius:8px;"></textarea>
            </div>

            <button class="btn" type="submit">Enviar mensagem</button>
        </form>
    </div>
</div>

{% endblock %}
