{% extends "base.html" %}
{% block content %}
<div class="form-box">
    <h2>Registrar</h2>
    <form method="POST" action="{{ url_for('register') }}">
        <div class="input-group">
            <label>Usuário</label>
            <input type="text" name="username" required>
        </div>

        <div class="input-group">
            <label>Senha</label>
            <input type="password" name="password" required>
        </div>

        <button class="btn" type="submit">Criar conta</button>
    </form>
    <p style="text-align:center; margin-top:12px;">Já tem conta? <a href="{{ url_for('login') }}">Entrar</a></p>
</div>
{% endblock %}
