<nav class="navbar">
  <div class="logo">TedCar 2.0</div>
  <div class="links">
    <a routerLink="/vehicles" routerLinkActive="active">Vehicles</a>
    <a *ngIf="!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
    <a *ngIf="!authService.isLoggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
    <a *ngIf="authService.isLoggedIn()" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a *ngIf="authService.isLoggedIn()" (click)="logout()" class="logout-btn">Logout</a>
  </div>
</nav>
